node-red-example/.flows.json.backup
[{"id":"deploy-proxy-flow","type":"tab","label":"Deploy Proxy Flow","disabled":false,"info":"Flow to deploy proxy component independently"},{"id":"45387653d869bcb5","type":"tab","label":"HTTP Trigger Flow","disabled":false,"info":"Flow to trigger Morpheus deployment via HTTP"},{"id":"d994e16b9210c8bc","type":"tab","label":"Manual GCP Trigger Flow","disabled":false,"info":"Flow to manually trigger Morpheus deployment"},{"id":"22ea9a45226fc29f","type":"tab","label":"Morpheus Deployment Flow","disabled":false,"info":"Flow to deploy NFA components"},{"id":"fae82b89774cd11b","type":"tab","label":"Health Check","disabled":false,"info":"Flow to deploy NFA components"},{"id":"cb37b3dbdb3d710c","type":"tab","label":"Template - Health Check","disabled":false,"locked":true,"info":"Flow to deploy NFA components","env":[]},{"id":"52e21014b0e00e05","type":"deploy-config","z":"22ea9a45226fc29f","name":"Deployment Config"},{"id":"prepare-deployment","type":"function","z":"deploy-proxy-flow","name":"Prepare Deployment","func":"// Initialize deployment message\nlet deployMsg = {\n    payload: msg.payload || {},\n    deploymentId: msg._msgid,\n    timestamp: new Date().toISOString()\n};\n\n// Add any additional configuration from the incoming message\nif (msg.config) {\n    deployMsg.config = msg.config;\n}\n\nreturn deployMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":60,"wires":[["deploy-proxy-node"]]},{"id":"deploy-proxy-node","type":"deploy-proxy","z":"deploy-proxy-flow","name":"Deploy Proxy","projectId":"test-quickstart-node","region":"us-west1","dockerRegistry":"srt0422","proxyVersion":"v0.0.31","internalApiPort":"8080","marketplacePort":"3333","marketplaceBaseUrl":"https://consumer-node","marketplaceUrl":"https://consumer-node","sessionDuration":"1h","consumerUsername":"proxy","consumerPassword":"yosz9BZCuu7Rli7mYe4G1JbIO0Yprvwl","consumerNodeUrl":"https://consumer-node","x":430,"y":60,"wires":[["deploy-proxy-debug","e851b867b9ff4d07"]]},{"id":"deploy-proxy-debug","type":"debug","z":"deploy-proxy-flow","name":"Deployment Result","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"b23c1d170150e87f","type":"link in","z":"deploy-proxy-flow","name":"Deployment Entry","links":["dfc5153d7e681fc2","d88af84a2786ebb5"],"x":55,"y":60,"wires":[["prepare-deployment"]]},{"id":"eff360fa658cf2a9","type":"link out","z":"deploy-proxy-flow","name":"Deployment Complete","links":["04ef4e8209c381ac"],"x":845,"y":120,"wires":[]},{"id":"e851b867b9ff4d07","type":"function","z":"deploy-proxy-flow","name":"Format Deployment Result","func":"return {\n    payload: {\n        status: 'success',\n        proxyUrl: msg.proxyUrl,\n        consumerUrl: msg.consumerUrl,\n        webappUrl: msg.webappUrl,\n        timestamp: new Date().toISOString()\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":120,"wires":[["eff360fa658cf2a9"]]},{"id":"cc9d096f2441e848","type":"http in","z":"45387653d869bcb5","name":"Deploy Endpoint","url":"/deploy","method":"post","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["25f5a509d6a9c2f6"]]},{"id":"25f5a509d6a9c2f6","type":"function","z":"45387653d869bcb5","name":"Validate Request","func":"if (!msg.payload) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid request body' };\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["dfc5153d7e681fc2"],["301eacfa2ce2c6ed"]]},{"id":"dfc5153d7e681fc2","type":"link out","z":"45387653d869bcb5","name":"To Deployment","links":["94ef2cb636e5cdd5","e02e2557769541ed","b23c1d170150e87f"],"x":520,"y":80,"wires":[]},{"id":"301eacfa2ce2c6ed","type":"http response","z":"45387653d869bcb5","name":"Error Response","statusCode":"","headers":"","x":520,"y":140,"wires":[]},{"id":"4ee52ce93f53f3ce","type":"http response","z":"45387653d869bcb5","name":"Success Response","statusCode":"200","headers":"","x":920,"y":80,"wires":[]},{"id":"04ef4e8209c381ac","type":"link in","z":"45387653d869bcb5","name":"From Deployment","links":["edbb5f6df0ba14cb","e83ba8ea6b5f2bef","eff360fa658cf2a9"],"x":720,"y":80,"wires":[["4ee52ce93f53f3ce"]]},{"id":"a134d8a063a6110b","type":"inject","z":"d994e16b9210c8bc","name":"Trigger GCP Deployment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":160,"y":100,"wires":[["c6bebeadea571c5d"]]},{"id":"c6bebeadea571c5d","type":"link out","z":"d994e16b9210c8bc","name":"To Deployment","mode":"link","links":["94ef2cb636e5cdd5"],"x":340,"y":100,"wires":[]},{"id":"471c42b41ed6a7fb","type":"inject","z":"d994e16b9210c8bc","name":"Trigger GCP Proxy Deployment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":170,"y":180,"wires":[["d88af84a2786ebb5"]]},{"id":"d88af84a2786ebb5","type":"link out","z":"d994e16b9210c8bc","name":"link out 1","mode":"link","links":["b23c1d170150e87f"],"x":375,"y":180,"wires":[]},{"id":"738ec5c630dd28b7","type":"function","z":"22ea9a45226fc29f","name":"Prepare Deployment","func":"// Initialize deployment message\nlet deployMsg = {\n    payload: msg.payload || {},\n    deploymentId: msg._msgid,\n    timestamp: new Date().toISOString()\n};\n\n// Add any additional configuration from the incoming message\nif (msg.config) {\n    deployMsg.config = msg.config;\n}\n\nreturn deployMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":240,"wires":[["52e21014b0e00e05","88f5e702fc3d22ef","6a8382068e721486"]]},{"id":"6a8382068e721486","type":"debug","z":"22ea9a45226fc29f","name":"Start Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":160,"y":300,"wires":[]},{"id":"88f5e702fc3d22ef","type":"deploy-proxy","z":"22ea9a45226fc29f","name":"Deploy Morpheus App Server","x":270,"y":100,"wires":[["12a369062b6344a9","5275c4abd90e9899"]]},{"id":"5275c4abd90e9899","type":"debug","z":"22ea9a45226fc29f","name":"Proxy Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":270,"y":160,"wires":[]},{"id":"12a369062b6344a9","type":"deploy-consumer","z":"22ea9a45226fc29f","name":"Deploy Morpheus Proxy Router","deployConfig":"52e21014b0e00e05","walletKey":"ede8aaf755183ababb0e1f4b754ae8efe5e39a56a8208e9ebfbb97e7dc9abe35","contractAddress":"0xb8C55cD613af947E73E262F0d3C54b7211Af16CF","morTokenAddress":"0x34a285a1b1c166420df5b6630132542923b5b27e","blockchainWsUrl":"","blockchainHttpUrl":"https://sepolia-rollup.arbitrum.io/rpc","explorerApiUrl":"https://api-sepolia.arbiscan.io/api","ethNodeChainId":"421614","ethNodeLegacyTx":"false","ethNodeUseSubscriptions":"false","proxyAddress":"0.0.0.0:3333","webAddress":"0.0.0.0:8082","webPublicUrl":"","environment":"development","proxyStoreChatContext":"true","proxyStoragePath":"./data/","logLevel":"info","logFormat":"text","logColor":"true","providerCacheTtl":"60","maxConcurrentSessions":"100","sessionTimeout":"3600","x":610,"y":100,"wires":[["b0869f823124b0ca","0d720e7799f11ed8"]]},{"id":"0d720e7799f11ed8","type":"debug","z":"22ea9a45226fc29f","name":"Consumer Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":610,"y":160,"wires":[]},{"id":"b0869f823124b0ca","type":"deploy-proxy","z":"22ea9a45226fc29f","name":"Update Proxy Config","x":580,"y":220,"wires":[["5c636977909f2364","04e1902dbbaef398"]]},{"id":"04e1902dbbaef398","type":"debug","z":"22ea9a45226fc29f","name":"Update Proxy Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":580,"y":280,"wires":[]},{"id":"5c636977909f2364","type":"deploy-webapp","z":"22ea9a45226fc29f","name":"Deploy Web App","x":970,"y":100,"wires":[["07c51ad503da3390"]]},{"id":"07c51ad503da3390","type":"debug","z":"22ea9a45226fc29f","name":"Deployment Results","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]},{"id":"26e2f5a714795d6e","type":"comment","z":"22ea9a45226fc29f","name":"Universal Builders Kit","info":"","x":140,"y":40,"wires":[]},{"id":"94ef2cb636e5cdd5","type":"link in","z":"22ea9a45226fc29f","name":"Deployment Entry","links":["c6bebeadea571c5d","dfc5153d7e681fc2"],"x":60,"y":240,"wires":[["738ec5c630dd28b7"]]},{"id":"edbb5f6df0ba14cb","type":"function","z":"22ea9a45226fc29f","name":"Format Deployment Result","func":"return {\n    payload: {\n        status: 'success',\n        proxyUrl: msg.proxyUrl,\n        consumerUrl: msg.consumerUrl,\n        webappUrl: msg.webappUrl,\n        timestamp: new Date().toISOString()\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":160,"wires":[["d4ee9573dd1a89d0","07c51ad503da3390"]]},{"id":"d4ee9573dd1a89d0","type":"link out","z":"22ea9a45226fc29f","name":"Deployment Complete","links":["04ef4e8209c381ac"],"x":1140,"y":160,"wires":[]},{"id":"2b27efa7ccbbbafb","type":"http in","z":"fae82b89774cd11b","name":"Health Check","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["976fa3e1f6251822"]]},{"id":"976fa3e1f6251822","type":"http response","z":"fae82b89774cd11b","name":"OK Response","statusCode":"200","headers":"","x":320,"y":80,"wires":[]},{"id":"453c9e75488ddc01","type":"http in","z":"cb37b3dbdb3d710c","name":"Health Check","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["cde29adb5a131b3e"]]},{"id":"cde29adb5a131b3e","type":"http response","z":"cb37b3dbdb3d710c","name":"OK Response","statusCode":"200","headers":"","x":320,"y":80,"wires":[]}]