node-red-example/.flows.json.backup
[{"id":"deployment-flow","type":"tab","label":"Morpheus Deployment Flow","disabled":false,"info":"Flow to deploy NFA components"},{"id":"config1","type":"deploy-config","z":"deployment-flow","name":"Deployment Config"},{"id":"start1","type":"inject","z":"deployment-flow","name":"Start Deployment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":160,"y":240,"wires":[["config1","proxy1"]]},{"id":"proxy1","type":"deploy-proxy","z":"deployment-flow","name":"Deploy Morpheus App Server","x":270,"y":100,"wires":[["consumer1"]]},{"id":"consumer1","type":"deploy-consumer","z":"deployment-flow","name":"Deploy Morpheus Proxy Router","deployConfig":"config1","walletKey":"ede8aaf755183ababb0e1f4b754ae8efe5e39a56a8208e9ebfbb97e7dc9abe35","contractAddress":"0xb8C55cD613af947E73E262F0d3C54b7211Af16CF","morTokenAddress":"0x34a285a1b1c166420df5b6630132542923b5b27e","blockchainWsUrl":"","blockchainHttpUrl":"https://sepolia-rollup.arbitrum.io/rpc","explorerApiUrl":"https://api-sepolia.arbiscan.io/api","ethNodeChainId":"421614","ethNodeLegacyTx":"false","ethNodeUseSubscriptions":"false","proxyAddress":"0.0.0.0:3333","webAddress":"0.0.0.0:8082","webPublicUrl":"","environment":"development","proxyStoreChatContext":"true","proxyStoragePath":"./data/","logLevel":"info","logFormat":"text","logColor":"true","providerCacheTtl":"60","maxConcurrentSessions":"100","sessionTimeout":"3600","x":610,"y":100,"wires":[["update_proxy1"]]},{"id":"update_proxy1","type":"deploy-proxy","z":"deployment-flow","name":"Update Proxy Config","x":580,"y":220,"wires":[["webapp1"]]},{"id":"webapp1","type":"deploy-webapp","z":"deployment-flow","name":"Deploy Web App","x":970,"y":100,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"deployment-flow","name":"Deployment Results","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]}]