node-red-example/flows.json
[{"id":"deployment-flow","type":"tab","label":"Morpheus Deployment Flow","disabled":false,"info":"Flow to deploy NFA components"},{"id":"config1","type":"deploy-config","z":"deployment-flow","name":"Deployment Config"},{"id":"deployment-trigger","type":"function","z":"deployment-flow","name":"Prepare Deployment","func":"// Initialize deployment message\nlet deployMsg = {\n    payload: msg.payload || {},\n    deploymentId: msg._msgid,\n    timestamp: new Date().toISOString(),\n    config: {\n        projectId: global.get('env').PROJECT_ID,\n        region: global.get('env').REGION,\n        dockerRegistry: global.get('env').DOCKER_REGISTRY,\n        proxyVersion: global.get('env').NFA_PROXY_VERSION,\n        proxyImage: 'openai-morpheus-proxy:' + global.get('env').NFA_PROXY_VERSION\n    }\n};\n\n// Add any additional configuration from the incoming message\nif (msg.config) {\n    deployMsg.config = { ...deployMsg.config, ...msg.config };\n}\n\nreturn deployMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":240,"wires":[["config1","proxy1","debug_start"]]},{"id":"debug_start","type":"debug","z":"deployment-flow","name":"Start Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":160,"y":300,"wires":[]},{"id":"proxy1","type":"deploy-proxy","z":"deployment-flow","name":"Deploy Morpheus App Server","x":270,"y":100,"wires":[["consumer1","debug_proxy"]]},{"id":"debug_proxy","type":"debug","z":"deployment-flow","name":"Proxy Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":270,"y":160,"wires":[]},{"id":"consumer1","type":"deploy-consumer","z":"deployment-flow","name":"Deploy Morpheus Proxy Router","deployConfig":"config1","walletKey":"ede8aaf755183ababb0e1f4b754ae8efe5e39a56a8208e9ebfbb97e7dc9abe35","contractAddress":"0xb8C55cD613af947E73E262F0d3C54b7211Af16CF","morTokenAddress":"0x34a285a1b1c166420df5b6630132542923b5b27e","blockchainWsUrl":"","blockchainHttpUrl":"https://sepolia-rollup.arbitrum.io/rpc","explorerApiUrl":"https://api-sepolia.arbiscan.io/api","ethNodeChainId":"421614","ethNodeLegacyTx":"false","ethNodeUseSubscriptions":"false","proxyAddress":"0.0.0.0:3333","webAddress":"0.0.0.0:8082","webPublicUrl":"","environment":"development","proxyStoreChatContext":"true","proxyStoragePath":"./data/","logLevel":"info","logFormat":"text","logColor":"true","providerCacheTtl":"60","maxConcurrentSessions":"100","sessionTimeout":"3600","x":610,"y":100,"wires":[["update_proxy1","debug_consumer"]]},{"id":"debug_consumer","type":"debug","z":"deployment-flow","name":"Consumer Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":610,"y":160,"wires":[]},{"id":"update_proxy1","type":"deploy-proxy","z":"deployment-flow","name":"Update Proxy Config","x":580,"y":220,"wires":[["webapp1","debug_update_proxy"]]},{"id":"debug_update_proxy","type":"debug","z":"deployment-flow","name":"Update Proxy Debug","active":true,"tosidebar":true,"console":true,"complete":"true","targetType":"full","x":580,"y":280,"wires":[]},{"id":"webapp1","type":"deploy-webapp","z":"deployment-flow","name":"Deploy Web App","x":970,"y":100,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"deployment-flow","name":"Deployment Results","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]},{"id":"09beb452b4355a61","type":"comment","z":"deployment-flow","name":"Universal Builders Kit","info":"","x":140,"y":40,"wires":[]},{"id":"health-check-flow","type":"tab","label":"Health Check","disabled":false,"info":"Flow to deploy NFA components"},{"id":"health-check-endpoint","type":"http in","z":"health-check-flow","name":"Health Check","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["health-check-response"]]},{"id":"health-check-response","type":"http response","z":"health-check-flow","name":"OK Response","statusCode":"200","headers":"","x":320,"y":80,"wires":[]},{"id":"template-health-check-flow","type":"tab","label":"Template - Health Check","disabled":false,"info":"Flow to deploy NFA components","env":[],"color":"#DDAA99","outputs":1,"locked":true},{"id":"template-health-check-endpoint","type":"http in","z":"template-health-check-flow","name":"Health Check","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["template-health-check-response"]]},{"id":"template-health-check-response","type":"http response","z":"template-health-check-flow","name":"OK Response","statusCode":"200","headers":"","x":320,"y":80,"wires":[]},{"id":"http-trigger-flow","type":"tab","label":"HTTP Trigger Flow","disabled":false,"info":"Flow to trigger Morpheus deployment via HTTP"},{"id":"deploy-endpoint","type":"http in","z":"http-trigger-flow","name":"Deploy Endpoint","url":"/deploy","method":"post","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["validate-request"]]},{"id":"validate-request","type":"function","z":"http-trigger-flow","name":"Validate Request","func":"if (!msg.payload) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid request body' };\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["trigger-deployment"],["http-error"]]},{"id":"trigger-deployment","type":"link out","z":"http-trigger-flow","name":"To Deployment","links":["deployment-entry"],"x":520,"y":80,"wires":[]},{"id":"http-error","type":"http response","z":"http-trigger-flow","name":"Error Response","statusCode":"","headers":"","x":520,"y":140,"wires":[]},{"id":"deployment-success","type":"http response","z":"http-trigger-flow","name":"Success Response","statusCode":"200","headers":"","x":920,"y":80,"wires":[]},{"id":"deployment-result","type":"link in","z":"http-trigger-flow","name":"From Deployment","links":["deployment-complete"],"x":720,"y":80,"wires":[["deployment-success"]]},{"id":"manual-trigger-flow","type":"tab","label":"Manual Trigger Flow","disabled":false,"info":"Flow to manually trigger Morpheus deployment"},{"id":"manual-trigger","type":"inject","z":"manual-trigger-flow","name":"Trigger Deployment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":140,"y":100,"wires":[["to-deployment"]]},{"id":"to-deployment","type":"link out","z":"manual-trigger-flow","name":"To Deployment","links":["deployment-entry"],"x":340,"y":100,"wires":[]},{"id":"deployment-entry","type":"link in","z":"deployment-flow","name":"Deployment Entry","links":["to-deployment","trigger-deployment"],"x":60,"y":240,"wires":[["deployment-trigger"]]},{"id":"deployment-complete","type":"function","z":"deployment-flow","name":"Format Deployment Result","func":"return {\n    payload: {\n        status: 'success',\n        proxyUrl: msg.proxyUrl,\n        consumerUrl: msg.consumerUrl,\n        webappUrl: msg.webappUrl,\n        timestamp: new Date().toISOString()\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":160,"wires":[["deployment-result-link","debug1"]]},{"id":"deployment-result-link","type":"link out","z":"deployment-flow","name":"Deployment Complete","links":["deployment-result"],"x":1140,"y":160,"wires":[]}]